#################  
## openFrameworks  
#################  

[Bb]in/*  
![Bb]in/data/  
[Bb]uild/  
[Oo]bj/  
*.o  
[Dd]ebug*/  
[Rr]elease*/  
*.mode*  
*.app/  
*.pyc  
*.log  

#################  
## Code::Blocks  
#################  

*.depend  
*.layout  

############  
## Windows  
############  

# Windows image file caches  
Thumbs.db  

# Folder config file  
Desktop.ini

# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Precompiled Headers
*.gch
*.pch
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Fortran module files
*.mod
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
# Executables
*.exe
*.out
*.app